{% extends 'base.html' %}

{% block content %}

<h1>Kavos Maniakai</h1>

<div class="row">
  {% for post in object_list %}
    <div class="col-md-4 mb-3">
      <div class="card">
        {% if post.header_image %}
          <img src="{{ post.header_image.url }}" class="card-img-top" alt="{{ post.title }}">
        {% else %}
          <div style="height: 200px;"></div>
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.footnote|truncatewords:30|safe }}</p>
        </div>
        <div class="card-footer">
          <a href="{% url 'article-details' post.pk %}" class="btn btn-secondary">Skaityti</a>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}
      </div><div class="row">
    {% endif %}
  {% endfor %}
</div>

{% endblock %}


  
    
<ul>
{% for post in object_list %}
    <li><a href="{% url 'article-details' post.pk %}">{{post.title}}</a>,

    - <a href="{% url 'category' post.category|slugify %}"> {{post.category}}</a> -

    {{ post.author.first_name}} {{ post.author.last_name}} - 

    {{ post.post_date }}

<small>
        {% if user.is_authenticated %}
            {%if user.id == post.author.id %}
            - <a href="{% url 'update_post' post.pk %}">(Edit)</a>
            <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
            {% endif %}
        {% endif %}
    </small><br/>
    {{ post.footnote|safe }}
   
{% endfor %}
</ul>



