{% extends 'base.html' %}
{% block title%}Įrašas redaguojamas{{post.title_tag}}{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    {%if user.id == post.author.id %}
<h1>Redaguoti straipsnį</h1>
<br/><br/>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Post</button>
    </div>
    {% else %}
    Tu negali čia būti ir tu tai žinai (smile)
    {% endif %}

{% else %}
Tu negali čia būti ir tu tai žinai (smile)
{% endif %}

{% endblock %}