{% extends 'base.html' %}

{% block content %}

<h1>Vartotojo profilis</h1>
<br/><br>
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-2">
        <img src="{{ post.author.profile.prof_picture.url }}" class="img-fluid rounded-start">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{ page_user.user.first_name}} {{page_user.user.last_name}}</h5>
          
          <p class="card-text"><small class="text-muted">
            
            <a href="{{ page_user.website_url }}">Website</a> |
            <a href="{{ page_user.profile.facebook_url }}">Facebook</a> | 
            <a href="{{ page_user.profile.instagram_url }}">Instagram</a> |
            <a href="{{ page_user.profile.linkedin_url }}">LinkedIn</a> |
         
            <p class="card-text">{{ page_user.profile.info }}</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
